#!/bin/bash

set -eufo pipefail

{{/* packages that are both for linux and darwin */}}
{{ $packages := list 
    "zsh" 
    "tmux" 
    "fzf" 
    "ripgrep"
    "thefuck"
    "htop"
    "cmake"
}}

{{/* packages that are linux only and then the same for darwin */}}
{{ if eq .chezmoi.os "linux" -}}
    {{ $packages = concat $packages 
        (list 
            "xclip"
            "python3.10-venv"

            "ca-certificates"
            "curl"
            "gnupg"
            "docker-ce"
            "docker-ce-cli"
            "containerd.io"
            "docker-buildx-plugin"
            "docker-compose-plugin"

            "libgl1-mesa-glx"
            "libegl1-mesa" 
            "libxcb-xtest0"

            "i3"
            "rofi"
            "autorandr"
            "arandr"
            "polybar"
            "feh"
            "picom"
            "firmware-manager"
            "scrot"
            "brightnessctl"
        )
    }}
{{ else if eq .chezmoi.os "darwin" -}}
    {{/* $packages = concat $packages (list "") */}}
{{ end }}

# Start by installing zsh
echo "Installing packages"

{{ if eq .chezmoi.os "linux" -}}
if ! command -v docker &> /dev/null; then
    echo "Adding docker repository"

    # Add Docker's official GPG key:
    sudo apt install 
    sudo install -m 0755 -d /etc/apt/keyrings
    curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo gpg --dearmor -o /etc/apt/keyrings/docker.gpg
    sudo chmod a+r /etc/apt/keyrings/docker.gpg

    # Add the repository to Apt sources:
    echo \
      "deb [arch="$(dpkg --print-architecture)" signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu \
      "$(. /etc/os-release && echo "$UBUNTU_CODENAME")" stable" | \
      sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
fi

if ! command -v i3 &> /dev/null; then

    echo "Adding i3 repository"

    /usr/lib/apt/apt-helper download-file https://debian.sur5r.net/i3/pool/main/s/sur5r-keyring/sur5r-keyring_2023.02.18_all.deb keyring.deb SHA256:a511ac5f10cd811f8a4ca44d665f2fa1add7a9f09bef238cdfad8461f5239cc4
    sudo apt install ./keyring.deb
    echo "deb http://debian.sur5r.net/i3/ $(grep '^DISTRIB_CODENAME=' /etc/lsb-release | cut -f2 -d=) universe" | sudo tee /etc/apt/sources.list.d/sur5r-i3.list
fi

sudo apt update
sudo apt install -y {{ $packages | join " " }}



{{ else if eq .chezmoi.os "darwin" -}}
brew install {{ $packages | join " " }}
{{ end -}}
