#!/bin/bash

set -eufo pipefail

{{/* packages that are both for linux and darwin */}}
{{ $packages := list 
    "zsh" 
    "tmux" 
    "fzf" 
    "ripgrep"
    "thefuck"
}}

{{/* packages that are linux only and then the same for darwin */}}
{{ if eq .chezmoi.os "linux" -}}
    {{ $packages = concat $packages (list "xclip" "python3.10-venv") }}
{{ else if eq .chezmoi.os "darwin" -}}
    {{/* $packages = concat $packages (list "") */}}
{{ end }}

# Start by installing zsh
echo "Installing packages"

{{ if eq .chezmoi.os "linux" -}}
sudo apt update
sudo apt install -y {{ $packages | join " " }}
{{ else if eq .chezmoi.os "darwin" -}}
brew install {{ $packages | join " " }}
{{ end -}}
