{{- $work := false -}} {{/* Should this have work related stuff? */}}
{{- $company_name := "" -}} {{/* The company name this work computer is for */}}
{{- $product_name := "" -}}

{{- $email := promptStringOnce . "email" "Email address" -}}
{{ if eq .chezmoi.os "darwin" }}
{{- $product_name = "Mac" -}}
{{- else -}}
{{- $product_name = output "sudo" "dmidecode" "-s" "system-product-name" | trim -}}
{{- end -}}

{{- $is_work := promptBoolOnce . "is_work" "Is this a work computer? (y/n)" -}}
{{- if $is_work -}}
{{-   $work = true -}}
{{-   $company_name = promptStringOnce . "company_name" "Company Name" -}}
{{- end -}}

[data]
    email = {{ $email | quote }}
    product_name = {{ $product_name | quote }}
    work = {{ $work }}
    company_name = {{ $company_name | quote }}
