# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Avishay Matayev
	email = {{ .email }}
[rebase]
	autoSquash = true
[alias]
	tree = log --graph --pretty=format:'%Cgreen%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold cyan)<%an>%Creset' --abbrev-commit --date=relative
