@document.meta
title: {{ .company_name }} - {TODAY}
description:
authors: {AUTHOR}
categories:
created: {TODAY}
updated: {TODAY}
version: 1.0.0
@end

* Journal References
  {{ "{{" }}:{YESTERDAY}:{{ "}}" }}[Yesterday] - {{ "{{" }}:{TOMORROW}:{{ "}}" }}[Tomorrow]

** Daily Review
   - {CURSOR}

 - Daily TODO
   - ( ) Work

